* {
  body {
    background-image: url(assets/sunset.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff4de;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .logos {
    background-image: initial;
    background-color: #ffffcc;
  }

  .name {
    margin: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 6vmin;
    color: #172830;
  }

  .tag {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 3vmin;
    color: #fff4de;
  }

  .copyright {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #fff4de;
  }

  p.copyright {
    margin-bottom: 15px;
    font-size: 3vmin;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  header {
    min-height: 5em;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .logo-panel {
    width: 100%;
    max-width: 90vw; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
  }

  img {
    width: 100%;
    max-width: 100px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
  }
}
